<!DOCTYPE html>
html(lang="en")
head
  meta(charset="UTF-8")
  meta(name="viewport", content="width=device-width, initial-scale=1.0")
  meta(http-equiv="X-UA-Compatible", content="ie=edge")
  title Coding-Buddies Survey
body
  h1 Survey
  form(action="/friends" method="post")
    label(for="name") Name: 
    input(type="text" name="name" placeholder="Name")
    each val, index in questions
      div
        h3= val.question
        select(name="question" + index + "answer")
          option= val.answer_1.message
          option= val.answer_2.message
          option= val.answer_3.message
          option= val.answer_4.message
          option= val.answer_5.message
    input(type="submit" value="Submit")
